html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: Helvetica, sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 40vh;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    width: 400px;
}
/*---------------------------Display/Screen---------------------------*/
.screen {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 35%;
    color: white;
}

span {
    font-size: 100px;
    margin-right: 15px;
}
/*---------------------------Buttons-----------------------------------*/
.buttons {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

button {
    border-radius: 100%;
    border-width: 0px;
    width: 90px;
    height: 90px;
    margin: 0px 1px 30px 1px;
    background-color: #505050;
    color: white;
    font-size: 40px;
}

button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

#clear, #delete {
    width: 125px;
    background-color: #D4D4D2;
    color: black;
}

#divide {
    margin-left: 10px;
}

#divide, #multiply,
#subtract, #plus,
.equals {
    background-color: #ff9500;
}

#num0 {
    width: 175px;
    text-align: left;
    padding-left: 30px;
}


